:root {
  --accent-color: #28a745;
  --primary-white-color: #ffffff;
  --main-hero-text-color: #e9e9e9;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --input-text-color: #808080;

  --main-font-family: 'Open Sans', sans-serif;
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-size: 18px;
}

/* utils */
.container{
  width: 1360px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

a{
  display: block;
}

img{
  display: block;
  max-width: 100%;
}

p, h1, h2, h3{
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header{
  background-color: #5e5e5e;
}

.logo{

  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.logo-img{
  margin-right: 10px;
}

.accent{

color: var(--accent-color);
}

.header-nav-link{
  line-height: 1.56;
  color: var(--secondary-text-color);
}

/* hero */
.hero-title{
  font-weight: 300;
  font-size: 55px;
  line-height: 1.20;
    text-align: center;
  color: var(--main-hero-text-color);
}

.hero-description{

  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: var(--main-hero-text-color);

}

.button{
  padding: 10px 30px;
font-family: inherit;
  font-size: 18px;
  line-height: 1.56;
   /* text-align: center; */
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* about */

.about-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
   
}

.about-text {
    line-height: 1.56;
    text-align: center;
}

/* posts */

.posts {

}

.posts__img{
  display: inline-block;
  width: 50%;
}

.posts-box {
  display: inline-block;
  padding: 110px 30px;
  width: 50%;
  
  background-color:  #0284D0;
}

.posts__date {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 5px;

  color: var(--primary-white-color);
}

.posts__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 25px;
  margin-bottom: 25px;

  color: var(--primary-white-color);
}

.posts__text {
  line-height: 1.56;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.button--green {
  background-color: #0284D0;
  border: 1px solid var(--primary-white-color);
}

/* team */

.team {
  padding-top: 50px;
  padding-bottom: 60px;
}

.team__text {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  margin-bottom: 16px;
}

.team__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  margin-bottom: 35px;
}

.team__subtitle {
  line-height: 1.56;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.team-list__item {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.team-list__item + .team-list__item{
  margin-left: 35px;
}

.team-list__box{
padding-bottom: 60px;
padding-top: 15px ;
}

.team-list__title{
  font-weight: 400;
  font-size: 25px;
  line-height: 1.27;
  margin-bottom: 12px ;
}

.team-list__subtitle{
  line-height: 1.56;
}

.card{
  position: relative;
}

/* .card:hover,
.card:focus{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6),
   rgba(0, 0, 0, 0.6)), url(.jpg);
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
} */

.list-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  padding: 0;
}

.list-actions__icon +.list-actions__icon{
  margin-left: 25px;
}

.list-actions__item {
  display: flex;
  align-items: center
}

.list-actions__item:not(:last-child){
    margin-right: 25px;
}

.list-actions__link {
}

.link {
}

.list-actions__icon {
 
}
