<section class="container cases">
  <p class="cases-pre-title">This is what we do</p>
  <h2 class="cases-title">Business Cases</h2>
  <p class="cases-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="list cases-cards">
    <li class="item"><img src="./images/cases/cases-1.jpg" alt="" /></li>
    <li class="item"><img src="./images/cases/cases-2.jpg" alt="" /></li>
    <li class="item"><img src="./images/cases/cases-3.jpg" alt="" /></li>
    <li class="item"><img src="./images/cases/cases-4.jpg" alt="" /></li>
    <li class="item"><img src="./images/cases/cases-5.jpg" alt="" /></li>
    <li class="item"><img src="./images/cases/cases-6.jpg" alt="" /></li>
    <li class="item"><img src="./images/cases/cases-7.jpg" alt="" /></li>
    <li class="item"><img src="./images/cases/cases-8.jpg" alt="" /></li>
  </ul>
</section>
