<section class="cases" id="cases">
  <div class="container">
    <p class="cases-pre-title">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="list cases-cards gallery">
      <li class="item">
        <a href="/src/images/cases/Rectangle.jpg">
          <img src="./images/cases/cases-1.jpg" alt="Заповнити" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/cases-2.jpg">
          <img src="./images/cases/cases-2.jpg" alt="Заповнити обовьяково" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/cases-3.jpg">
          <img src="./images/cases/cases-3.jpg" alt="Заповнити обовьяково" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/cases-4.jpg">
          <img src="./images/cases/cases-4.jpg" alt="Заповнити обовьяково" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/cases-5.jpg">
          <img src="./images/cases/cases-5.jpg" alt="Заповнити обовьяково" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/cases-6.jpg">
          <img src="./images/cases/cases-6.jpg" alt="Заповнити обовьяково" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/cases-7.jpg">
          <img src="./images/cases/cases-7.jpg" alt="Заповнити обовьяково" />
        </a>
      </li>
      <li class="item">
        <a href="/src/images/cases/cases-8.jpg">
          <img src="./images/cases/cases-8.jpg" alt="Заповнити обовьяково" />
        </a>
      </li>
    </ul>
  </div>
</section>
