<section class="posts">
  <div class="container post-boxes">
    <div class="posts-box">
      <p class="posts__date">April 16 2020</p>
      <h2 class="posts__title">Blog Post One</h2>
      <p class="posts__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="button button--green">Read Our Blog</button>
    </div>
    <img src="./images/posts/post1.jpg" alt="desktop" class="posts__img" />
  </div>
</section>
