<section>
  <div class="container team">
    <p class="team__text">Who we are</p>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="card-list list">
                  <!-- Первая карточка -->
      <li class="card-list__item">
        <div class="card">
          <img src="./images/team/john.jpg" alt="employee" width="420" />
          <ul class="list card-actions">
            <li class="card-actions__item">
              <a href="#" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#fs"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="#" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#tw"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="#" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#you"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="#" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#lin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="card-list__box">
          <h3 class="card-list__title">John Doe</h3>
          <p class="card-list__subtitle">President</p>
        </div>
      </li>
              <!-- Вторая карточка -->
      <li class="card-list__item">
        <div class="card">
          <img src="./images/team/jane.jpg" alt="employee" width="420" />
          <ul class="list card-actions">
            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#fs"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#tw"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#you"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#lin"></use>
                </svg>
              </a>
            </li>
          </ul>
          
        </div>
        <div class="card-list__box">
          <h3 class="card-list__title">Jane Doe</h3>
          <p class="card-list__subtitle">Vice President</p>
        </div>
      </li>
                <!-- Третья карточка -->
      <li class="card-list__item">
        <div class="card">
          <img src="./images/team/steve.jpg" alt="employee" width="420" />
          <ul class="list card-actions">
            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#fs"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#tw"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#you"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#lin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="card-list__box">
          <h3 class="card-list__title">Steve Smith</h3>
          <p class="card-list__subtitle">Marketing Head</p>
        </div>
      </li>

    </ul>
  </div>
</section>
