<section>
  <div class="container team">
    <p class="team__text">Who we are</p>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="card-list list">
                  <!-- Первая карточка -->
      <li class="card-list__item">
        <div class="card">
          <picture>
            <source srcset="./images/team/john-420.webp 420w, 
                            ./images/team/john-420@2x.webp 840w" type="image/webp"
              sizes="(min-width: 768px) 33vw, 100vw">
            <img srcset="./images/team/john-420.jpg 420w, 
                          ./images/team/john-420@2x.jpg 840w"
              sizes="(min-width: 768px) 33vw, 100vw" src="./images/team/john-420.jpg" alt="employee" width="420">
          </picture>
          <ul class="list card-actions">
            <li class="card-actions__item">
              <a href="#" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#fs"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="#" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#tw"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="#" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#you"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="#" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#lin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="card-list__box">
          <h3 class="card-list__title">John Doe</h3>
          <p class="card-list__subtitle">President</p>
        </div>
      </li>
              <!-- Вторая карточка -->
      <li class="card-list__item">
        <div class="card">
          <picture>
            <source srcset="./images/team/jane-420.webp 420w, 
                            ./images/team/jane-420@2x.webp 840w" type="image/webp" 
                    sizes="(min-width: 768px) 33vw, 100vw">
            <img srcset="./images/team/jane-420.jpg 420w, 
                        ./images/team/jane-420@2x.jpg 840w" sizes="(min-width: 768px) 33vw, 100vw"
              src="./images/team/jane-420.jpg" alt="employee" width="420">
          </picture>
          <ul class="list card-actions">
            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#fs"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#tw"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#you"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#lin"></use>
                </svg>
              </a>
            </li>
          </ul>
          
        </div>
        <div class="card-list__box">
          <h3 class="card-list__title">Jane Doe</h3>
          <p class="card-list__subtitle">Vice President</p>
        </div>
      </li>
                <!-- Третья карточка -->
      <li class="card-list__item">
        <div class="card">
          <picture>
            <source srcset="./images/team/steve-420.webp 420w, 
                            ./images/team/steve-420@2x.webp 840w" type="image/webp" 
                      sizes="(min-width: 768px) 33vw, 100vw">
            <img srcset="./images/team/steve-420.jpg 420w, 
                        ./images/team/steve-420@2x.jpg 840w" sizes="(min-width: 768px) 33vw, 100vw"
              src="./images/team/steve-420.jpg" alt="employee" width="420">
          </picture>
          <ul class="list card-actions">
            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#fs"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#tw"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#you"></use>
                </svg>
              </a>
            </li>

            <li class="card-actions__item">
              <a href="" class="card-actions__link link">
                <svg class="card-actions__icon" width="35" height="35">
                  <use href="./images/defs.svg#lin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="card-list__box">
          <h3 class="card-list__title">Steve Smith</h3>
          <p class="card-list__subtitle">Marketing Head</p>
        </div>
      </li>

    </ul>
  </div>
</section>
