.about-list {
  display: flex;
  padding-left: 66px;
  padding-right: 66px;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 19px;
}
.about-item {
  width: 362px;
  outline: 1px solid rgb(81, 0, 255);
}

.about-subtitle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}

.about-text {
  line-height: 1.56;
  text-align: center;
}

/* стили SVG для  секции about */
.about-icon {
  margin-left: auto;
  margin-right: auto;
  width: 67px;
  height: 67px;
  fill: var(--secondary-text-color);
  background-color: #28a745;
  border-radius: 33.5px;
}
.about-icon-place {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
